<%= form_for [:admins, question], html: {id: "form-action-step"} do |f| %>

<div class="card-body card-padding">
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <div class="fg-line">
          <label class="">Question</label>
          <%= f.text_field :name, class: "form-control", placeholder: "e.g. Enhancing Compassion" %>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <div class="fg-line">
          <label class="">Sequence</label>
          <%= f.number_field :sequence, class: "form-control", placeholder: "e.g. 105" %>

        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <div class="fg-line">
          <label class="">Section</label>
          <%= f.select :section, ['profile','health','strength'], {include_blank: true}, { class: "selectpicker" } %>

        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <div class="fg-line">
          <label class="">Type</label>
          <%= f.select :type_of, ['boolean','likert'], {include_blank: true}, { class: "selectpicker" } %>

        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <div class="fg-line">
          <label class="">Strategy</label>
          <%= f.select :strategy, Strategy.all.collect {|s| [ s.name.downcase ] }, {include_blank: true}, { class: "selectpicker" } %>

        </div>
      </div>
    </div>
  </div>
  <div class="row m-b-20">
    <div class="col-md-12">
      <label class="">Notify?</label>
      <div class="checkbox">
        <label>
          <%= f.check_box :do_notify %>
          <i class="input-helper"></i>
          Indicates the question will cause a notification to be sent to the thriver and administrator.
        </label>
      </div>
    </div>

    <div class="col-md-12 m-t-20">
      <div class="form-group">
        <div class="fg-line">
          <label class="">Special Notification text</label>
          <%= f.text_field :notify_text, class: "form-control", placeholder: "enter text here to override the default message." %>

        </div>
      </div>
    </div>
  </div>

  <%= link_to (question.new_record? ? 'Create' : 'Update'), "#", class: "btn btn-primary m-t-10 m-r-5 waves-effect", onclick: "$('#form-action-step').submit()" %>

  </div>

  <% end %>
