<div class="card">
  <div class="card-header">
    <h4>Ability Levels</h4>
    <ul>
    <li>Diet: <%= Survey.levels.key @survey.diet_level %></li>
    <li>movement: <%= Survey.levels.key @survey.movement_level %></li>
    <li>environment: <%= Survey.levels.key @survey.environment_level %></li>
    <li>rejuvenation: <%= Survey.levels.key @survey.rejuvenation_level %></li>
    <li>spirit: <%= Survey.levels.key @survey.spirit_level %></li>
    </ul>
  </div>


</div>
