<%= form_for [:admins, @user.current_survey], html: {id: "form-action-step"} do |f| %>
<div class="card-body card-padding">
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <div class="fg-line">
        <label class="">sequence</label>
          <%= f.text_field :sequence, class: "form-control", placeholder: "e.g. the highest sequence is the most recent survey." %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card-body card-padding">
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <div class="fg-line">
        <label class="">step</label>
          <%= f.text_field :step, class: "form-control", placeholder: "" %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="card-body card-padding">
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <div class="fg-line">
        <label class="">diet_score</label>
          <%= f.text_field :diet_score, class: "form-control", placeholder: "" %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="card-body card-padding">
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <div class="fg-line">
        <label class="">movement_score</label>
          <%= f.text_field :movement_score, class: "form-control", placeholder: "" %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="card-body card-padding">
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <div class="fg-line">
        <label class="">environment_score</label>
          <%= f.text_field :environment_score, class: "form-control", placeholder: "" %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="card-body card-padding">
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <div class="fg-line">
        <label class="">rejuvenation_score</label>
          <%= f.text_field :rejuvenation_score, class: "form-control", placeholder: "" %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="card-body card-padding">
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <div class="fg-line">
        <label class="">spirit_score</label>
          <%= f.text_field :spirit_score, class: "form-control", placeholder: "" %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="card-body card-padding">
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <div class="fg-line">
        <label class="">diet_percent</label>
          <%= f.text_field :diet_percent, class: "form-control", placeholder: "" %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="card-body card-padding">
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <div class="fg-line">
        <label class="">movement_percent</label>
          <%= f.text_field :movement_percent, class: "form-control", placeholder: "" %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="card-body card-padding">
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <div class="fg-line">
        <label class="">environment_percent</label>
          <%= f.text_field :environment_percent, class: "form-control", placeholder: "" %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="card-body card-padding">
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <div class="fg-line">
        <label class="">rejuvenation_percent</label>
          <%= f.text_field :rejuvenation_percent, class: "form-control", placeholder: "" %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="card-body card-padding">
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <div class="fg-line">
        <label class="">spirit_percent</label>
          <%= f.text_field :spirit_percent, class: "form-control", placeholder: "" %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="card-body card-padding">
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <div class="fg-line">
        <label class="">diet_level</label>
          <%= f.text_field :diet_level, class: "form-control", placeholder: "" %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="card-body card-padding">
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <div class="fg-line">
        <label class="">movement_level</label>
          <%= f.text_field :movement_level, class: "form-control", placeholder: "" %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="card-body card-padding">
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <div class="fg-line">
        <label class="">environment_level</label>
          <%= f.text_field :environment_level, class: "form-control", placeholder: "" %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="card-body card-padding">
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <div class="fg-line">
        <label class="">rejuvenation_level</label>
          <%= f.text_field :rejuvenation_level, class: "form-control", placeholder: "" %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="card-body card-padding">
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <div class="fg-line">
        <label class="">spirit_level</label>
          <%= f.text_field :spirit_level, class: "form-control", placeholder: "" %>
        </div>
      </div>
    </div>
  </div>
</div>

  <% end %>
