<div role="tabpanel" class="tab-pane" id="day_3">

  <%= form_for [:admins, action_step], html: {id: "form-action-step-day-3"} do |f| %>
  <div class="card-body card-padding">
    <!-- Week At A Glance -->
    <div class="row m-b-15">
      <div class="col-md-12">
        <div>
          <label class="m-b-15">Daily Content</label>
        </div>
        <%= f.text_area :day_3, class: 'html-editor' %>
      </div>
    </div>

    <div class="row m-b-20">
      <div class="col-md-12">
        <div>
          <label class="m-b-15">Daily Video</label>
        </div>

        <div class="fileinput fileinput-<%= action_step.day_3_video.file ? 'exists' : 'new' %>" data-provides="fileinput">
          <span class="btn btn-default btn-file m-r-10 waves-effect">
            <span class="fileinput-new">Select file</span>
            <span class="fileinput-exists">Change</span>
            <input type="hidden" value="" name="">
            <%= f.file_field :day_3_video, :accept => 'video/mp4, video/ogg' %>
          </span>
          <span class="fileinput-filename"><%= action_step.day_3_video.file.filename if action_step.day_3_video.file %></span>
          <a href="#" class="close fileinput-exists" data-dismiss="fileinput">×</a>

        </div>

      </div>
    </div>

    <% video=action_step.day_3_video %>
    <% unless video.url.nil? %>
    <h6>Test the Video</h6>
    <br>
    <br>
    <span>
      <video width=100% controls style="margin-top: -40px;">
        <source src="<%= video.url  %>" type="video/mp4"></source>
      </video>
    </span>
    <% end %>

    <div class="row m-b-20">
      <div class="col-md-12">
        <div>
          <label class="m-b-15">Daily Audio</label>
        </div>

        <% if action_step.day_3_audio.url %>
        <div class="m-b-10">
          <audio controls="controls" src="<%= action_step.day_3_audio.url %>"></audio>
        </div>
        <% end %>

        <div class="fileinput fileinput-<%= action_step.day_3_audio.file ? 'exists' : 'new' %>" data-provides="fileinput">
          <span class="btn btn-default btn-file m-r-10 waves-effect">
            <span class="fileinput-new">Select file</span>
            <span class="fileinput-exists">Change</span>
            <input type="hidden" value="" name="">
            <%= f.file_field :day_3_audio, :accept => 'audio/mp4, audio/mp3, audio/wav' %>
          </span>
          <span class="fileinput-filename"><%= action_step.day_3_audio.file.filename if action_step.day_3_audio.file %></span>
          <a href="#" class="close fileinput-exists" data-dismiss="fileinput">×</a>

        </div>

      </div>
    </div>

    <%= link_to 'Update', "#", class: "btn btn-primary m-t-10 m-r-5 waves-effect", onclick: "$('#form-action-step-day-3').submit()" %>

  </div>
  <% end %>
</div>
