<h2>Your Profile</h2>
<br>

<%= form_for @user, method: :put do |user_form| %>
<div class="input-group-lg m-b-20">
  <span class="input-group-addon"></span>
  <div class="fg-line">
    <div class="question">
      Sex
    </div>
    <%= user_form.hidden_field :user_id, :value => @user.id %>
    <%= user_form.select(:gender, Thrive::GlobalConstants::GENDERS, {include_blank: true},  class: 'form-control', required: true) %>
  </div>
</div>

<div class="input-group-lg m-b-20">
  <span class="input-group-addon"></span>
  <div class="fg-line">
    <div class="question">
      Your current age (in years)
    </div>
    <%= user_form.select(:age_range, Thrive::GlobalConstants::AGE_RANGES, {include_blank: true},  class: 'form-control', required: true) %>
  </div>
</div>

<div class="input-group-lg m-b-20">
  <span class="input-group-addon"></span>
  <div class="fg-line">
    <div class="question">
      Time Zone
    </div>
    <%= user_form.time_zone_select :time_zone, ActiveSupport::TimeZone.us_zones, {include_blank: true}, { class: "form-control" } %>
  </div>
</div>

<div class="input-group-lg m-b-20">
  <span class="input-group-addon"></span>
  <div class="fg-line">
    <div class="question">Cancer Type (most recent diagnosis if you have had more than one cancer diagnosis).</div>
    <%= user_form.select(:cancer_type, Thrive::GlobalConstants::CANCER_TYPES, {include_blank: true},  class: 'form-control', required: true) %>
  </div>
</div>

<div class="input-group-lg m-b-20">
  <span class="input-group-addon"></span>
  <div class="fg-line">
    <div class="question">
      Time since diagnosis
    </div>
    <%= user_form.select(:time_since_diagnosis, Thrive::GlobalConstants::DIAGNOSIS_TIMES, {include_blank: true},  class: 'form-control', required: true) %>
  </div>
</div>

<%= user_form.fields_for :survey_answers, @user.survey.survey_answers.profile do |answer_fields| %>

<% a = answer_fields.object %>
<% index = answer_fields.options[:child_index] %>
<% notify = a.question.do_notify %>
<% error_msg = 'Uh-oh. It looks like you missed one or more questions. Please complete to move on to the next section' %>

<%= hidden_field_tag "notify_text_#{index}", a.question.notify_text_display, class: 'notify_text' %>

<div class="input-group-lg p-t-20" >
  <div class="question">
    <%= a.question.name.humanize %>
    <br>
    <div class="p-20">
      <label class="radio radio-inline <%= 'notify' if notify %>">
        <%= answer_fields.radio_button :answer, 'y', required: true %>
        <i class="input-helper"></i>
        Yes
      </label>
      <label class="radio radio-inline ">
        <%= answer_fields.radio_button :answer, 'n', required: true %>
        <i class="input-helper"></i>
        No
      </label>
    </div>
  </div>
</div>
<% end %>
<% btn_text = (current_page?(edit_user_path(current_user)) ? 'Update' : 'Continue') %>
<%= user_form.submit btn_text, class: 'btn btn-primary waves-effect', style: "background-color: #0f86cd;" %>
<% end %>

<%= render partial: 'surveys/notify' %>
