<ol class="breadcrumb">
    <li><%= link_to "Back to Action Steps", admins_action_steps_path %></li>
    <li class="active">Edit Action Step
        <%= @action_step.id %>
        -
        <%= @action_step.name %></li>
</ol>

<section id="content">
    <div class="container">

        <div class="block-header">
            <h2><%= @action_step.name %></h2>
            <ul class="actions">
                <li>
                    <%= link_to "<i class='zmdi zmdi-eye'></i>".html_safe, preview_admins_action_step_path(@action_step), remote: true %>
                </li>
                <li>
                    <%= link_to "<i class='fa fa-trash'></i>".html_safe, admins_action_step_path(@action_step), data: {confirm: 'Are you sure?'}, method: :delete %>
                </li>
                <li>
                    <a href="">
                        <i class="zmdi zmdi-refresh"></i>
                    </a>
                </li>
            </ul>
        </div>

        <div class="row">

            <div class="col-md-4">
                <%= render partial: 'admins/action_steps/summary', locals: {action_step: @action_step} %>
                <%= render partial: 'admins/filters/child_filters' %>
            </div>
            <div class="col-md-8">
                <div class="card">
                    <div role="tabpanel">
                        <ul class="tab-nav tn-justified" role="tablist" data-tab-color="amber">
                            <li class="active">
                                <a href="#action-step-profile" aria-controls="home11" role="tab" data-toggle="tab">Profile</a>
                            </li>
                            <li>
                                <a href="#day_1" aria-controls="day_1" role="tab" data-toggle="tab">Day 1</a>
                            </li>
                            <li>
                                <a href="#day_2" aria-controls="day_2" role="tab" data-toggle="tab">Day 2</a>
                            </li>
                            <li>
                                <a href="#day_3" aria-controls="day_3" role="tab" data-toggle="tab">Day 3</a>
                            </li>
                            <li>
                                <a href="#day_4" aria-controls="day_4" role="tab" data-toggle="tab">Day 4</a>
                            </li>
                            <li>
                                <a href="#day_5" aria-controls="day_5" role="tab" data-toggle="tab">Day 5</a>
                            </li>
                        </ul>

                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="action-step-profile">
                                <div class="card-body card-padding">
                                    <%= render partial: 'admins/action_steps/form', locals: {action_step: @action_step} %>
                                </div>
                            </div>
                            <%= render partial: 'admins/action_steps/tabs/day_1', locals: {action_step: @action_step} %>
                            <%= render partial: 'admins/action_steps/tabs/day_2', locals: {action_step: @action_step} %>
                            <%= render partial: 'admins/action_steps/tabs/day_3', locals: {action_step: @action_step} %>
                            <%= render partial: 'admins/action_steps/tabs/day_4', locals: {action_step: @action_step} %>
                            <%= render partial: 'admins/action_steps/tabs/day_5', locals: {action_step: @action_step} %>
                        </div>
                    </div>

                </div>

            </div>

        </div>

    </div>
</section>

<div class="modal fade blog-post" id="<%= @action_step.id %>Modal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div id="replace_me"></div>

            <div class="modal-footer">
                <%= link_to 'Close', "#", class: 'btn btn-link', data: {dismiss: "modal"} %>
            </div>
        </div>
    </div>
</div>

<% content_for :body_end do %>
<script type="text/javascript">
    $(window).load(function () {
        var height = $(window).height() - 200;
        $("#<%= @action_step.id %>Modal .modal-dialog").height(height);
    });
</script>

<% end %>
