<div class="card">
  <div class="card-header">

    <h2>Filters
      <ul class="actions">
        <li>
          <%= link_to "<i class='fa fa-trash p-r-10'></i>".html_safe,"/#{params[:controller]}/#{@parent.id}/clear_filters", data: {confirm: 'Remove all filters?'},  method: :put %>
        </li>

      </ul>
      <small>Add or remove associated filters.</small>
      <br>
    </h2>
    <% @filters.each do |f| %>
    <p class="tag"><%= f.filter.name %></p>
    <% end %>
  </div>

  <div class="card-body card-padding">
    <div id="child-filter-form">
      <%= form_for [:admins, @filter], html: {id: "form-filters"} do |f| %>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <div class="fg-line">
              <label class="">Select Filter</label>
              <%= f.hidden_field "#{@parent.class.name}Id".underscore.to_sym, value: @parent.id  %>
              <%= f.select :filter_id, Filter.all.collect {|f| [f.name.downcase, f.id ] }, {include_blank: true}, { class: "selectpicker" } %>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <%= link_to 'Add Filter', "#", class: "btn btn-primary", onclick: "$('#form-filters').submit()" %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
