<%= form_for [:admins, survey], html: {id: "form-action-step"} do |f| %>
<div class="card-body card-padding">
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <div class="fg-line">
          <label class="">Current Step</label>
          <%= f.text_field :step, class: "form-control", placeholder: "" %>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <div class="fg-line">
          <label class="">Diet Ability Level</label>
          <%= f.text_field :diet_level, class: "form-control", placeholder: "" %>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <div class="fg-line">
          <label class="">Movement Ability Level</label>
          <%= f.text_field :movement_level, class: "form-control", placeholder: "" %>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <div class="fg-line">
          <label class="">Environment Ability Level</label>
          <%= f.text_field :environment_level, class: "form-control", placeholder: "" %>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <div class="fg-line">
          <label class="">Rejuvenation Ability Level</label>
          <%= f.text_field :rejuvenation_level, class: "form-control", placeholder: "" %>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <div class="fg-line">
          <label class="">Spirit Ability Level</label>
          <%= f.text_field :spirit_level, class: "form-control", placeholder: "" %>
        </div>
      </div>
    </div>
  </div>

<% end %>
