<ol class="breadcrumb">
  <li><%= link_to "Back to Surveys", admins_surveys_path %></li>
  <li class="active">Edit Survey -
    <%= @survey.sequence %></li>
  </ol>

  <section id="content">
    <div class="container">

      <div class="block-header">
        <h2><%= @survey.sequence %></h2>
        <ul class="actions">
          <li>
            <a href="">
              <i class="fa fa-trash"></i>
            </a>
          </li>
          <li>
            <a href="">
              <i class="zmdi zmdi-refresh"></i>
            </a>
          </li>
        </ul>
      </div>

      <div class="row">

        <div class="col-md-4">
          <%= render partial: 'admins/surveys/summary', locals: {survey: @survey} %>
        </div>
        <div class="col-md-8">
          <div class="card">
            <div role="tabpanel">
              <ul class="tab-nav tn-justified" role="tablist" data-tab-color="amber">
                <li class="active">
                  <a href="#survey-profile" aria-controls="home11" role="tab" data-toggle="tab">Survey</a>
                </li>
                <li>
                  <a href="#survey-recommendations" aria-controls="home11" role="tab" data-toggle="tab">Recommendations</a>
                </li>
              </ul>

            <div class="tab-content">
              <div role="tabpanel" class="tab-pane active" id="survey-profile">
                <%= render partial: 'admins/surveys/form', locals: {survey: @survey} %>
              </div>
              <div role="tabpanel" class="tab-pane" id="survey-recommendations">
                <%= render partial: 'admins/surveys/recommendations', locals: {survey: @survey} %>
              </div>
            </div>
          </div>

        </div>

      </div>

    </div>

  </div>
</section>
