<div class="card">
  <div class="card-header">
    <h4>Population Ability Breakdown</h4>
    <h6>Total # of Complete Surveys <%= Survey.all.complete.count.to_s %> </h6>
  </div>

  <div class="card-body card-padding">
    <div class="row m-l-0">
      <b>DIET: </b>  Beg: <nbsp> <%= Survey.complete.where(diet_level: 1).count %> | Int: <%= Survey.complete.where(diet_level: 1).count %> | Adv: <%= Survey.complete.where(diet_level: 2).count %>
      <br><b>MOVEMENT: </b>  Beg: <nbsp> <%= Survey.complete.where(movement_level: 1).count %> | Int: <%= Survey.complete.where(movement_level: 1).count %> | Adv: <%= Survey.complete.where(movement_level: 2).count %>
      <br><b>ENVIRONMENT: </b>  Beg: <nbsp> <%= Survey.complete.where(environment_level: 1).count %> | Int: <%= Survey.complete.where(environment_level: 1).count %> | Adv: <%= Survey.complete.where(environment_level: 2).count %>
      <br><b>REJUVENATION: </b>  Beg: <nbsp> <%= Survey.complete.where(rejuvenation_level: 1).count %> | Int: <%= Survey.complete.where(rejuvenation_level: 1).count %> | Adv: <%= Survey.complete.where(rejuvenation_level: 2).count %>
      <br><b>SPIRIT: </b>  Beg: <nbsp> <%= Survey.complete.where(spirit_level: 1).count %> | Int: <%= Survey.complete.where(spirit_level: 1).count %> | Adv: <%= Survey.complete.where(spirit_level: 2).count %>
    </div>

  </div>
</div>
