<%= form_for [:admins, survey_option], html: {id: "form-action-step"} do |f| %>

<div class="card-body card-padding">
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <div class="fg-line">
          <label class="">Name of Survey Option Set</label>
          <%= f.text_field :name, class: "form-control", placeholder: "e.g. summer 2016, or Mindy analysis" %>
        </div>
      </div>
    </div>
  </div>
  <h4>
    Diet Range
  </h4>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <div class="fg-line">
          <label class=""> Low End</label>
          <%= f.number_field :diet_low, class: "form-control", placeholder: "e.g. -1.0 or -2.8" %>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <div class="fg-line">
          <label class="">High End</label>
          <%= f.number_field :diet_high, class: "form-control", placeholder: "e.g. -1.0 or -2.8" %>
        </div>
      </div>
    </div>
  </div>

  <h4>
    Movement Range
  </h4>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <div class="fg-line">
          <label class=""> Low End</label>
          <%= f.number_field :movement_low, class: "form-control", placeholder: "e.g. -1.0 or -2.8" %>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <div class="fg-line">
          <label class="">High End</label>
          <%= f.number_field :movement_high, class: "form-control", placeholder: "e.g. -1.0 or -2.8" %>
        </div>
      </div>
    </div>
  </div>

  <h4>
    Environment Range
  </h4>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <div class="fg-line">
          <label class=""> Low End</label>
          <%= f.number_field :environment_low, class: "form-control", placeholder: "e.g. -1.0 or -2.8" %>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <div class="fg-line">
          <label class="">High End</label>
          <%= f.number_field :environment_high, class: "form-control", placeholder: "e.g. -1.0 or -2.8" %>
        </div>
      </div>
    </div>
  </div>

  <h4>
    Rejuvenation Range
  </h4>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <div class="fg-line">
          <label class=""> Low End</label>
          <%= f.number_field :rejuvenation_low, class: "form-control", placeholder: "e.g. -1.0 or -2.8" %>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <div class="fg-line">
          <label class="">High End</label>
          <%= f.number_field :rejuvenation_high, class: "form-control", placeholder: "e.g. -1.0 or -2.8" %>
        </div>
      </div>
    </div>
  </div>

  <h4>
    Spirit Range
  </h4>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <div class="fg-line">
          <label class=""> Low End</label>
          <%= f.number_field :spirit_low, class: "form-control", placeholder: "e.g. -1.0 or -2.8" %>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <div class="fg-line">
          <label class="">High End</label>
          <%= f.number_field :spirit_high, class: "form-control", placeholder: "e.g. -1.0 or -2.8" %>
        </div>
      </div>
    </div>
  </div>

  <%= link_to (survey_option.new_record? ? 'Create' : 'Update'), "#", class: "btn btn-primary m-t-10 m-r-5 waves-effect", onclick: "$('#form-action-step').submit()" %>



  <% end %>
</div>
