<h4 class="m-b-20">Appearance Details</h4>

<%= form_for [:admins, tenant], html: {id: 'form-appearance-tenant'} do |f| %>


<div class="row m-b-20">

    <!-- FAVICON -->
    <div class="col-md-6">
        <div>
            <label class="m-b-15">Favorite Icon (favicon)</label>
        </div>
        <div class="fileinput fileinput-<%= tenant.favicon.url ? 'exists' : 'new' %>" data-provides="fileinput">

            <div class="fileinput-preview thumbnail" data-trigger="fileinput">
              <%= image_tag tenant.favicon.url %>
            </div>
            <div>
                <span class="btn btn-default btn-file">
                    <span class="fileinput-new">Select image</span>
                    <span class="fileinput-exists">Change</span>
                    <%= f.file_field :favicon %>
                </span>
                <a href="#" class="btn btn-danger fileinput-exists" data-dismiss="fileinput">Remove</a>
            </div>
        </div>
    </div>

    <!-- LOGO -->
    <div class="col-md-6">
        <div>
            <label class="m-b-15">Logo</label>
        </div>
        <div class="fileinput fileinput-<%= tenant.logo.url ? 'exists' : 'new' %>" data-provides="fileinput">

            <div class="fileinput-preview thumbnail inverse" data-trigger="fileinput">
              <%= image_tag tenant.logo.url %>
            </div>
            <div>
                <span class="btn btn-default btn-file">
                    <span class="fileinput-new">Select image</span>
                    <span class="fileinput-exists">Change</span>
                    <%= f.file_field :logo %>
                </span>
                <a href="#" class="btn btn-danger fileinput-exists" data-dismiss="fileinput">Remove</a>
            </div>
        </div>
    </div>
</div>

<div class="row m-b-20">

    <!-- FAVICON -->
    <div class="col-md-6">
        <div>
            <label class="m-b-15">Desktop</label>
        </div>
        <div class="fileinput fileinput-<%= tenant.desktop.url ? 'exists' : 'new' %>" data-provides="fileinput">

            <div class="fileinput-preview thumbnail" data-trigger="fileinput">
              <%= image_tag tenant.desktop.url %>
            </div>
            <div>
                <span class="btn btn-default btn-file">
                    <span class="fileinput-new">Select image</span>
                    <span class="fileinput-exists">Change</span>
                    <%= f.file_field :desktop %>
                </span>
                <a href="#" class="btn btn-danger fileinput-exists" data-dismiss="fileinput">Remove</a>
            </div>
        </div>
    </div>

    <!-- LOGO -->
    <div class="col-md-6">
        <div>
            <label class="m-b-15">Login</label>
        </div>
        <div class="fileinput fileinput-<%= tenant.login.url ? 'exists' : 'new' %>" data-provides="fileinput">

            <div class="fileinput-preview thumbnail" data-trigger="fileinput">
              <%= image_tag tenant.login.url %>
            </div>
            <div>
                <span class="btn btn-default btn-file">
                    <span class="fileinput-new">Select image</span>
                    <span class="fileinput-exists">Change</span>
                    <%= f.file_field :login %>
                </span>
                <a href="#" class="btn btn-danger fileinput-exists" data-dismiss="fileinput">Remove</a>
            </div>
        </div>
    </div>
</div>


<div>
  <%= link_to 'Update', "#", class: "btn btn-primary m-t-10 m-r-5 waves-effect", onclick: "$('#form-appearance-tenant').submit()" %>
</div>

<% end %>
