<style>
a[class*="action-step-available-"]{
  display: none !important;
}
</style>

<aside id="chat" class="sidebar">

  <div class="lg-body c-overflow">

    <div class="list-group">
      <div class="list-group-item">
        <h4>Choose an Action Step</h4>
        <p>The following Action Steps have been carefully selected for you
         based on your profile and responses to the survey.
         You may choose up to two to work on at a time.
        </p>
        <p>
          Scroll down to see all recommended Action Steps.
        </p>
      </div>

      <!-- DIET (start) -->
      <div class="strategy-title">
        <i class="pull-left icons icon-i-diet"></i>
        <span>DIET</span>
        <% if has_available_for_strategy(1) %>
        <div class="pull-right"><%= link_to 'Show More', '#', data: {"show-strategy": 1} %></div>
        <% end %>
      </div>
      <%= render partial: 'plans/chooser_item', locals: {strategy: 1} %>
      <!-- DIET (end) -->

      <!-- MOVEMENT (start) -->
      <div class="strategy-title">
        <i class="pull-left icons icon-i-move"></i>
        <span>MOVEMENT</span>
        <% if has_available_for_strategy(2) %>
        <div class="pull-right"><%= link_to 'Show More', '#', data: {"show-strategy": 2} %></div>
        <% end %>
      </div>
      <%= render partial: 'plans/chooser_item', locals: {strategy: 2} %>
      <!-- MOVEMENT (end) -->

      <!-- ENVIRONMENT (start) -->
      <div class="strategy-title">
        <i class="pull-left icons icon-i-enviro"></i>
        <span>ENVIRONMENT</span>
        <% if has_available_for_strategy(3) %>
        <div class="pull-right"><%= link_to 'Show More', '#', data: {"show-strategy": 3} %></div>
        <% end %>
      </div>
      <%= render partial: 'plans/chooser_item', locals: {strategy: 3} %>
      <!-- ENVIRONMENT (end) -->

      <!-- REJUVENATION (start) -->
      <div class="strategy-title">
        <i class="pull-left icons icon-i-rejuv"></i>
        <span>REJUVENATION</span>
        <% if has_available_for_strategy(4) %>
        <div class="pull-right"><%= link_to 'Show More', '#', data: {"show-strategy": 4} %></div>
        <% end %>
      </div>
      <%= render partial: 'plans/chooser_item', locals: {strategy: 4} %>
      <!-- REJUVENATION (end) -->

      <!-- SPIRIT (start) -->
      <div class="strategy-title">
        <i class="pull-left icons icon-i-spirit"></i>
        <span>SPIRIT</span>
        <% if has_available_for_strategy(5) %>
        <div class="pull-right"><%= link_to 'Show More', '#', data: {"show-strategy": 5} %></div>
        <% end %>
      </div>
      <%= render partial: 'plans/chooser_item', locals: {strategy: 5} %>
      <!-- SPIRIT (end) -->



    </div>
  </div>
</aside>
