<style>
  body {
    background-image: url("<%= @current_tenant.desktop %>") !important;
    background-color: #607D8B !important;
    background-size: cover !important;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
  }
  .login-container {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
    -webkit-animation-duration: 500ms;
    animation-duration: 500ms;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    z-index: 10;

  }
  .login-wrapper {}
  @media only screen and (max-width: 768px) {
    .login-form {
      margin: 0 20px 100px !important;
      border-radius: 2px !important;
      border: none !important;
    }
  }
  .login-display,
  .login-form {
    padding: 30px;
  }

  .login-display {
    background-color: rgba(255,255,255,0.8);
    border-radius: 2px 0 0 2px;
  }

  .login-form {
    background-color: #ffffff;
    border-radius: 0 2px 2px 0;
  }

  .equal {
    display: flex;
    /*flex-wrap: wrap;*/
  }

  .equal > div[class*='col-'] {
    display: flex;
    flex-direction: column;
  }

</style>

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-2 col-md-1 col-sm-1 hidden-xs"></div>
    <div class="col-lg-8 col-md-10 col-sm-10 col-xs-12 login-container" style="margin-top: 100px;">

      <div class="row equal">

        <div class="col-lg-6 col-md-6 hidden-sm hidden-xs login-display">
          <div style="text-align: center;">"
            <img src="<%= @current_tenant.login %>" class="m-t-20" style="width: 80%">
          </div>
          <div class="f-16 m-b-10" style="margin-top: 190px; text-align: center">Already registered?
            <%= link_to "Sign in", new_user_session_path %>
            instead!
          </div>
          <div class="text-center m-t-10">
            Powered by
            <%= image_tag 'ithrive/login.png', style: "height: 30px; margin-top: -4px;" %>
          </div>
          <div class="terms" style="color: #999; text-align: center">
            <%= link_to 'Privacy Policy', legal_privacy_path, target: '_blank' %>
            |
            <%= link_to 'Terms and Conditions', legal_terms_path, target: '_blank' %>
            |
            &copy; 2016 Five to Thrive, LLC
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 login-form">

          <div class="hidden-lg hidden-md text-center">
            <img src="<%= @current_tenant.login %>" class="m-b-10" style="width: 80%">
          </div>

          <h4 class="text-left m-b-30">Account Sign Up
            <small><br>* All fields are required to sign up.</small>
          </h4>

          <%= form_for(resource, as: resource_name, url: registration_path(resource_name), cls: "form-horizontal") do |f| %>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group fg-float <%= has_errors(resource, :first_name) %>">
                <div class="fg-line first_name">
                  <%= f.label "First Name", class: "fg-label" %>
                  <%= f.text_field :first_name, class: "form-control input-lg" %>
                </div>
                <%= show_errors(resource, :first_name) %>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group fg-float <%= has_errors(resource, :last_name) %>">
                <div class="fg-line last_name">
                  <%= f.label "Last Name", class: "fg-label" %>
                  <%= f.text_field :last_name, class: "form-control input-lg" %>
                </div>
                <%= show_errors(resource, :last_name) %>
              </div>
            </div>
          </div>

          <div class="form-group fg-float <%= has_errors(resource, :email) %>">
            <div class="fg-line email">
              <%= f.label "Email Address", class: "fg-label" %>
              <%= f.email_field :email, autocomplete: false, class: "form-control input-lg" %>
            </div>
            <%= show_errors(resource, :email) %>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group fg-float <%= has_errors(resource, :password) %>">
                <div class="fg-line password">
                  <%= f.label "Password", class: "fg-label" %>
                  <input class=" form-control input-lg" type="password" name="user[password]" id="user_password" , autocomplete="false">
                </div>
                <%= show_errors(resource, :password) %>
              </div>
            </div>
            <div class="col-md-6">

              <div class="form-group fg-float <%= has_errors(resource, :password_confirmation) %>">
                <div class="fg-line password_confirmation">
                  <%= f.label "Password Confirmation", class: "fg-label" %>
                  <input class=" form-control input-lg" type="password" name="user[password_confirmation]" id="user_password_confirmation">
                </div>
                <%= show_errors(resource, :password_confirmation) %>
              </div>
            </div>
          </div>

          <!-- Optional Access Token (Start) -->
          <% unless @current_tenant.access_token.nil? %>
          <div class="form-group fg-float <%= has_errors(resource, :base) %>">
            <div class="fg-line password">
              <%= f.label "Access Code", class: "fg-label" %>
              <input class=" form-control input-lg" name="user[access_token]" id="user_access_token" , autocomplete="false">
            </div>
            <%= show_errors(resource, :base) %>
          </div>
          <% end %>
          <!-- Optional Access Token (End) -->

          <!-- Agree to Terms (Start) -->

          <div class="checkbox">
            <label>
              <input id="sign_up_agreed" type="checkbox" value="">
              <i class="input-helper"></i>
              I agree to the Terms and Conditions.
              <a data-toggle="modal" href="#termsModal" class="">View details here.</a>
            </label>
          </div>

          <!-- Agree to Terms (End) -->

          <%= f.button 'Sign Up', id: 'sign_up_submit', disabled: true, class: 'btn btn-primary btn-lg m-t-20 m-b-20 p-r-30 p-l-30 waves-effect', style: "width: 100%" %>

          <% end %>

          <div class="hidden-lg hidden-md">
            <div class="f-16 m-b-10" style="margin-top: 10px; text-align: center">Already registered?
              <%= link_to "Sign in", new_user_session_path %>
              instead!
            </div>
            <div class="text-center m-t-10">
              Powered by
              <%= image_tag 'ithrive/login.png', style: "height: 30px; margin-top: -4px;" %>
            </div>
            <div class="terms" style="color: #999; text-align: center">
              <%= link_to 'Privacy Policy', legal_privacy_path %>
              |
              <%= link_to 'Terms and Conditions', legal_terms_path %>
            </div>
          </div>

        </div>

      </div>
    </div>
    <div class="col-lg-2 col-md-1 col-sm-1 hidden-xs"></div>
  </div>

</div>

<div class="modal fade" id="termsModal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Accept Terms and Conditions</h4>
      </div>
      <div class="modal-body" style="overflow: scroll">
        <p>
          Welcome! You are agreeing to participate in the iTHRIVE Plan, a personalized health survivorship program for Cancer Survivors tailored to address diet and lifestyle needs. The iTHRIVE Plan is not medical treatment. You are taking an important step in
          improving your self-awareness and strengthening your skills and tools as a Cancer Survivor. However, the iTHRIVE Plan is not intended to replace your health care providers or to be the only resource for your support or care. Be sure to continue to
          work with your health care providers for advice about specific medical conditions and treatments. You are being presented with the opportunity to review iThrivePlan.com’s
          <%= link_to 'Terms and Conditions', legal_terms_path, target: '_blank' %> and
          <%= link_to 'Privacy Policy', legal_privacy_path, target: '_blank' %>.
          By clicking the box next to the words “I Agree”, you are acknowledging that you have read, understood, and agree to the Terms and Conditions and the Privacy Policy.
        </p>
      </div>
      <div class="modal-footer">
        <footer id="footer">

          <ul class="f-menu">
            <div class="text-center m-t-10 m-b-5">
              Powered by <%= image_tag 'ithrive/login.png', style: "height: 30px; margin-top: -4px;" %>
            </div>
            <div class="terms" style="color: #999; text-align: center">
              <%= link_to 'Privacy Policy', legal_privacy_path %>
              |
              <%= link_to 'Terms and Conditions', legal_terms_path %>
              |
              &copy; 2016 Five to Thrive, LLC
            </div>
          </ul>
        </footer>

        <button type="button" class="btn btn-link" data-dismiss="modal">Close
        </button>
      </div>
    </div>
  </div>
</div>

<% content_for :body_end do %>
<script type="text/javascript">
  $(document).ready(function () {
    var height = $(window).height() - 200;

    $('#acceptanceModal .modal-body').height(height);

    $('#sign_up_agreed').change(function () {
      if ($(this).is(":checked")) {
        $('#sign_up_submit').removeAttr('disabled');

      } else {
        $('#sign_up_submit').attr('disabled', true);
      }

    });

  });
</script>

<% end %>
